form {
  margin: 0 10%;
}

.header {
  font-size: 6vw;
  font-weight: bolder;
  margin-top: 4%;
  color: #4fe0b6;

}
.logo {
  height: 100px;
}

.col {
  margin: 25px;
}

.col label {
  font-size: 1.5em;
}

.col small {
  font-size: 1.1em;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
